.friendships-page {
    min-height: 100vh;
    h1 {
        font-size: 32px;
        width: 80%;
        text-align: center;
        letter-spacing: 3px;
        margin: 0 auto;
        padding-top: 5vh;
    }
}

.search-friend {
    font-size: 12px;
    margin-bottom: 5vh;
}

.profile-container {
    width: 100%;
}

.profile-card {
    margin-bottom: 2vh;
    height: 10vh;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: white;
    width: 90%;
    border-radius: 10px;
    p {
        margin-bottom: 0;
        font-weight: 500;
    }
    img {
        border-radius: 50%;
    }
}

.friend-location {
    font-weight: 300 !important;
    font-size: 12px;
}

.profile-details {
    width: 60%;
    p {
        text-align: left !important;
        padding-right: 10vw;
    }
}

.send-request {
    img {
        width: 10vw;
    }
    .button-large {
        width: 20vw;
        margin: 0;
        height: 4vh;
    }
}

#friendship-view {
    font-size: 10px !important;
    text-decoration: none;
}

.confirm,
.delete {
    color: #7e7e7e;
    font-size: 16px;
}