// Specific CSS for your home-page
.homepage,
.splashscreen {
    .button-large {
        margin-top: 8vh;
        margin-bottom: 8vh;
    }
    margin-bottom: 0px !important;
    max-height: 100% !important;
}

.homepage-image img {
    height: 400px;
    width: 100%;
    margin: 0 auto;
    object-fit: cover;
    margin-top: 3vh;
}

.login-buttons {
    margin-top: 4.5vh;
}