.splashscreen {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white !important;
}

.splashscreen img {
    height: 250px;
    width: auto;
}

@keyframes slide {
    100% {
        left: 0%;
    }
}

@-webkit-keyframes slide {
    100% {
        left: 0%;
    }
}

@keyframes opacity {
    100% {
        opacity: 0%;
    }
}

@-webkit-keyframes opacity {
    100% {
        opacity: 0%;
    }
}

@keyframes opacityin {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Slide In */

#main-logo {
    position: relative;
    left: -200%;
    animation: slide 2s forwards;
    animation-delay: 1s;
}


/* Opacity Out */

.transition {
    animation: opacity 2s;
    animation-delay: 0s;
}


/* Opacity In */

.transition-in {
    animation: opacityin 2s;
    animation-delay: 0s;
}