<div class="container_window">
  <%= image_tag restaurant.photo, class: "image_window" %>

     <div class="card-name-description">
        <h6><%= link_to restaurant.name, restaurant_path(restaurant) %></h6>
    </div>

</div>
