 <div class="navbar">
        <div class="globe">
            <a href="#"><%= image_tag("globe.png") %></a>
        </div>
        <div class="search">
            <a href="#"><%= image_tag("search.png") %></a>
        </div>
        <div class="list">
            <a href="#"><%= image_tag("add-list.png") %></a>
        </div>
        <div class="profile">
            <a href="#"><%= image_tag("profile.png") %></a>
        </div>
    </div>
