<div class="homepage">

  <div class="homepage-heading">
    <h1>RISTOVISER</h1>
    <p style="font-style: italic">The only travel guide you'll ever need</p>
  </div>

  <div class="homepage-image">
    <%= image_tag("homepage-image.jpg") %>
  </div>

  <div class="button-large">
    <%= link_to "GET STARTED", "#" %>
  </div>

</div>
