<div class="friendships-page">
<h1>All Friends</h1>

<div class="profile-container">
<% @friends.each do |user| %>
<div class="profile-card">
  <p><%= image_tag(user.avatar_url) %></p>
  <p style="padding-bottom: 2vh;"><%= "#{user.first_name} #{user.last_name}" %></p>
</div>
<% end %>
</div>
</div>
