<div class="friendships-page">
  <h1 style="margin-bottom: 5vh;">All Friends</h1>
  <div class="profile-container">
    <% @friends.each do |user| %>
      <div class="profile-card">
        <p><%= image_tag(user.avatar_url) %></p>
        <p><%= "#{user.first_name} #{user.last_name}" %></p>
        <p class="friend-location"><%= user.location %></p>
        <div class="send-request">
          <%= link_to "See profile", profile_path(user) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
