.button-large {
    width: 50vw;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    background-color: black;
    text-decoration: none !important;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 5vh;
    font-size: 13px !important;
    a {
        text-decoration: none !important;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
    }
}

.directions {
    a {
        text-decoration: none;
        color: white;
    }
}

.add {
    width: 20% !important;
    height: 3.5vh !important;
    margin-bottom: 0 !important;
    a {
        font-size: 12px !important;
    }
}

.view {
    a {
        font-size: 12px !important;
    }
}

.back-arrow {
    padding-top: 3vh;
    padding-left: 8vw;
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: flex-start;
    img {
        width: 20px;
        height: auto;
    }
}

#map-view {
  z-index: 1;
  position: fixed;
  bottom: 100px;
  right: 50%;
  background: none;
  border: none;
  border-radius: 2em;
  background-color: black;
  transform: translate(50%, 0);
  padding: .5em 1em;
  img {
    height: 30px;
  }
}
