.formdevise {
    margin-top: 10vh;
    width: 60vw;
    margin: 0 auto;
    color: black;
}

.formlinks {
    display: block;
    margin: 0 auto;
}

.form-link {
    color: black;
}

.form-check-input {
    display: inline-flex;
    position: static !important;
}

.form-check-input.is-valid~.form-check-label {
    color: black !important;
}

abbr {
    display: none;
}

.form-check-label {
    margin-left: 3vw;
    font-weight: 100;
    letter-spacing: 0.2px;
}

.label-capitalize {
    text-transform: capitalize;
    letter-spacing: 0.3px;
}

.textarea {
    width: 60vw;
    margin-bottom: 3vh;
    height: 150px;
    font-size: 12px;
}