.list-card-share {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4vh;
}

.card-image img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    border-radius: 10px 10px 0px 0px;
}

.card-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    height: 8vh;
    border-radius: 0px 0px 10px 10px;
}

.card-name-description {
    width: 70%;
    margin-top: 12px;
    margin-bottom: 12px;
    p,
    a {
        text-align: left !important;
        margin-left: 8px;
        color: black;
        line-height: 18px;
        margin-bottom: 0;
        font-size: 14px;
    }
}

.list-share-buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-buttons img {
    height: 18px;
    width: auto;
}