.list-card-share {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 4vh;
}

.card-image img {
    height: 180px;
    object-fit: cover;
    width: 100%;
    border-top: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
}

.card-details {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    border-right: solid 1px black;
    height: 8vh;
}

.card-name-description {
    margin-top: 12px;
    margin-bottom: 12px;
    padding-left: 3vw;
    p,
    a,
    h6 {
        color: black;
        line-height: 25px;
        margin-bottom: 0;
        text-align: left;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    h6 {
        font-weight: 400;
        font-size: 18px !important;
    }
    p {
        font-weight: 100;
        font-size: 13px !important;
        letter-spacing: 0.3px;
    }
}

.list-share-buttons {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.list-buttons img {
    height: 18px;
    width: auto;
}

// .right {
//   text-align: right;
// }
