        .navbar {
            width: 100vw;
            height: 8vh;
            display: flex;
            background-color: white;
            align-items: center;
            justify-content: space-around;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            left: 0;
            text-align: center;
            padding-bottom: 1vh;
            padding-top: 1vh;
            gap: 30px;
        }
        
        .navbar p {
            color: black;
            font-size: 10px;
            padding-top: 1vh;
        }
        
        .navbar img {
            height: 25px;
        }
        
        .list img {
            width: 45px !important;
        }