 .restaurant-card-view {
     width: 80%;
     margin: 0 auto;
     padding-bottom: 4vh;
 }
 
 .card-name-description {
     width: 70%;
     margin-top: 12px;
     margin-bottom: 12px;
     p,
     a {
         text-align: left !important;
         color: black;
         line-height: 18px;
         margin-bottom: 0;
         font-size: 18px;
         text-decoration: none;
     }
 }