 .restaurant-card-view {
     width: 80%;
     margin: 0 auto;
     padding-bottom: 4vh;
 }
 
 .card-image img {
     height: 180px;
     object-fit: cover;
     border-radius: 10px 10px 0px 0px;
     width: 100%;
 }
 
 .card-details {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: white;
     border-radius: 0px 0px 10px 10px;
     height: 7vh;
 }
 
 .card-name-description {
     width: 70%;
     margin-top: 12px;
     margin-bottom: 12px;
     p,
     a {
         text-align: left !important;
         color: black;
         line-height: 18px;
         margin-bottom: 0;
         font-size: 18px;
         text-decoration: none;
     }
 }
 
 .view-button {
     margin-right: 15px;
     width: 25%;
     background-color: #EF626C;
     border-radius: 100px;
     height: 3vh;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .view-button a {
     text-decoration: none;
     color: white;
     letter-spacing: 1px;
     text-transform: uppercase;
 }