 .restaurant-card-add {
     width: 80%;
     margin: 0 auto;
     padding-bottom: 4vh;
 }
 
 .card-image img {
     height: 180px;
     object-fit: cover;
     border-radius: 10px 10px 0px 0px;
     width: 100%;
 }
 
 .card-details {
     display: flex;
     align-items: center;
     justify-content: space-between;
     background-color: white;
     border-radius: 0px 0px 10px 10px;
 }
 
 .card-name-description {
     width: 70%;
     margin-top: 12px;
     margin-bottom: 12px;
     p {
         text-align: left !important;
         margin-left: 15px;
         color: black;
         line-height: 20px;
         margin-bottom: 0;
     }
 }
 
 .add-button {
     width: 25%;
 }
 
 .add img {
     height: 30px;
     width: auto;
 }