.mapboxgl-popup-content {
  height: 250px;
  background-color: white !important;
  padding: 0 !important;
}

.image_window {
  width: 100%;
  height: 50%;
}

.view-button-map {
  margin: 0 auto;
  width: 50%;
}

.title-infobox {
  font-size: 25px;
  padding-top: 2vh;
  letter-spacing: 2px;
  margin-bottom: 15px !important;
  color: black !important ;
}

// .button-map {
// }

.container_window {
    height: 320px;
    padding-bottom: 4vh;
    color: white;
    width: 240px;
    border: 2px solid black
  img {
    width: 100%;
    object-fit: cover;
    object-position: center;
  }
}
.mapboxgl-popup-close-button {
    display: none;
//   position: inherit !important;
//   background-color: white !important;
//   border-radius: 50% !important;
//   font-size: 30px;
//   padding: 3px;
//
}


.view-price_window {
  a {
  margin-top: 10px;
  padding-bottom: 10px;
  color: black;
  }
}


// canvas.mapboxgl-canvas {
//   height: 600px !important;
// }

#map {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  width: calc(100% + 1px);
}


// #map {
//   width: 75%;
//   height: 100%;
// }

.mapbox-logo{ display: none; }
.mapboxgl-ctrl-logo { display: none !important; }
.mapbox-improve-map { display: none; }
.mapboxgl-ctrl-compass { display: none; }
